
.pokemons {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative; /* Adicionado */
    overflow: hidden; /* Adicionado para esconder parte da imagem que ultrapasse os limites do .pokemon */

}

.pokemon .detail .types .type.normal{
    background-color: #a6a877;
}
.pokemon .detail .types .type.grass{
    background-color: #77c850;
}
.pokemon .detail .types .type.fire{
    background-color: #ee7f30;
}
.pokemon .detail .types .type.water{
    background-color: #678fee;
}
.pokemon .detail .types .type.electric{
    background-color: #f2cf2e;
}
.pokemon .detail .types .type.ice{
    background-color: #98d5d7;
}
.pokemon .detail .types .type.ground{
    background-color: #dfbf69;
}
.pokemon .detail .types .type.flying{
    background-color: #a98ff0;
}
.pokemon .detail .types .type.poison{
    background-color: #a040a0;
}
.pokemon .detail .types .type.fighting{
    background-color: #bf3029;
}
.pokemon .detail .types .type.psychic{
    background-color: #f65687;
}
.pokemon .detail .types .type.dark{
    background-color: #725847;
}
.pokemon .detail .types .type.rock{
    background-color: #b8a137;
}
.pokemon .detail .types .type.bug{
    background-color: #a8b720;
}
.pokemon .detail .types .type.ghost{
    background-color: #6e5896;
}
.pokemon .detail .types .type.steel{
    background-color: #b9b7cf;
}
.pokemon .detail .types .type.dragon{
    background-color: #6f38f6;
}
.pokemon .detail .types .type.fairy{
    background-color: #f9aec7;
}


.pokemon    {
    height: 400px;
    width:  350px;
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    padding: 1rem;    
    border-radius: 1rem;
    
}

.pokemon .number {
    color: #000;
    text-align: right;
    font-size: .625rem;
    z-index: 1;
    padding: 5px;   
}

.pokemon .name{
    color: white;
    margin-bottom: 0.25rem;
    text-transform: capitalize;
    z-index: 1;
    padding: 5px;
}

.pokemon .detail{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 0.5rem;
    z-index: 1;
}

.pokemon .detail .types {
    padding: 0;
    margin: 0;
    list-style: none;
    z-index: 1;
}

.pokemon .detail .types .type {
    color: #fff;
    padding: .25rem .5rem;
    margin: .25rem 5px;
    font-size: .625rem;
    border-radius: 1rem;
    filter: brightness(1.1);
    text-align: center;
}

.pokemon .detail .abilities{
    padding: 0;
    margin: 0;
    list-style: none;
    z-index: 1;
}

.pokemon .detail .abilities .ability{
    color: #fff;
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    border-radius: 1rem;
    background-color: rgba(38,47,69,.75);
    text-align: center;

}

.pokemon  .hp .height .weight{
    display: flex;
    width: 15%;
    height: 2.5rem;
    align-items: stretch;
    justify-content: space-around;
    margin-top: .5rem;
}

.pokemon .hp{
    /*background-color: rgb(38, 47, 69);*/
    font-weight: bold;
    line-height: 1rem;
    text-align: center;
    color: #fff;
    z-index: 1;
}

.pokemon .weight
{
    font-weight: bold;
    line-height: 1rem;
    text-align: center;
    color: #fff;
    z-index: 1;
}

.pokemon .height
{
    font-weight: bold;
    line-height: 1rem;
    text-align: center;
    color: #fff;
    z-index: 1;
}


/*ol.pokemons li img*/ 
.pokemon .pokemon_img {
    position: relative; /* Alterado */
    width: 100%;
    height: 40%;
    display: block;
    margin: auto;
    object-fit: contain;
}

.pokemon .background_type{
    width: 330px;
    height: inherit;
    position: absolute;
}

.pagination{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}


.pagination button{
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    color: #fff;
    background-color: rgb(161, 52, 233);
    border: none;
    border-radius: 1rem;
    
}


@media screen and (min-width: 576px){
    .pokemons{
        grid-template-columns: 1fr 1fr;
        
    }
}
@media screen and (min-width: 768px){
    .pokemons{
        grid-template-columns: 1fr 1fr 1fr;
        
    }
}

